header {
  background: #6190e8;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #5de6de;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  padding: 10px;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
