.userContainer {
  height: 450px;
  overflow: auto;
}
.userItemContainer {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.userIcon {
  border: 0;
  width: 35px;
  height: 35px;
  color: blue;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 0.5rem;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveToRight 1s ease-in-out;
  animation-delay: 1000ms;
}
.messageBox {
  height: 30px;
  border: 1px solid lightcoral;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: #ffffff;
}
