.sendMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sendMessage {
  display: flex;
  width: 100%;
  align-items: center;
}
.input {
  padding: 10px;
  border: 0;
  flex: 1;
  outline: none;
}
.horizontal {
  border-top: 2px solid blue;
  flex: 1;
  height: 13px;
  width: 100%;
}
.customButton {
  border-width: 0;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid blue;
  border-radius: 25px;
  padding: 4px;
  margin-right: 3rem;
  outline: none;
  color: blue;
}
.customButton button {
  border-width: 0;
  background-color: transparent;
  padding: 0.4rem;
  color: blue;
}
