.userIcon {
  border: 0;
  border-radius: 25px;
  padding: 5px 10px;
  margin-right: 0.5rem;
  height: 35px;
  width: 35px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  color: #ffffff;
}
.userItemContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.userItemContainer:active {
  border-left: 4px solid blue;
}
