.userContainer {
  background-color: #ffffff;
  color: blue;
  height: 600px;
  overflow-y: scroll;
}
.userContainer div {
  display: flex;
  align-items: center;
}
.userContainer div h4 {
  padding: 20px;
}
.userContainer div i {
  font-size: 25px;
}
.userContainer button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.userContainer input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid black;
  margin-left: 10px;
}
