* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: blue;
  padding: 40px 50px;
  height: 100vh;
}
.board {
  background: #fff;
  height: 600px;
  box-shadow: 10px 10px 5px 0px rgba(82, 76, 76, 0.75);
}
